body {
  margin:0 auto;
  background-color:rgba(242, 242, 242, 1);
  font-size: 8px;
}

.mainCanvas{
  background-color:white;
  border: 1px solid #ccc;
}

.canvas_Container{
  flex-grow: 8;
}


.container{
  display: flex;
  width: 95%;
  margin: auto;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: left;
  align-items: center;
  max-width: 1800px;
}

.chat_Container{
  flex-grow: 2;
  background-color: white;
  width: 100%;
  height: 100%;
}

.playerContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

#header {
  border-width:0 1px 1px 1px;
  border-style:solid;
  position:fixed;
  top: 0;
  width: 100%;
  height:7em;
  display:flex;
  background-color:#7AB660;
  box-sizing:border-box;
  border-color:black;
}


